<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Product</title>
</head>
<h1>Delete Product</h1>
<body>
<form th:action="@{/delete-product}" th:object="${product}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td th:text="${product.price}"></td>
        </tr>
        <tr>
            <td>Discount:</td>
            <td th:text="${product.discount}"></td>
        </tr>
        <tr>
            <td>Company:</td>
            <td th:text="${product.company}"></td>
        </tr>
        <tr>
            <td><button type="submit">Delete</button></td>
        </tr>
    </table>
</form>
</body>
</html>